<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="hangman.css" type="text/css" />
  </head>
  <body>
    <h1>Hangman</h1>
    <a class="home" href="/">Home</a>
    
    <div class="image"><img src="/<%= @turn %>.png" alt="hangman face"></div>
    <div class="guesses"><%= @show_word.join(' ') %></div>
    
    <% if @error_message == "you lost!" %>
      <div class="finalmessage">You lost! The secret word is <%= @secret_word %></div>
      <div class="continue"><a href="/">Continue</a></div>
    <% elsif @error_message == "you won!" %>
      <div class="finalmessage">You won!</div>
      <div class="continue"><a href="/">Continue</a></div>
    <% else %>
      <div class="error"><%= @error_message %></div>   
      <form method="POST" action="/hangman">
        <span>Guess a letter:</span>
        <input type="text" name="letter" maxlength="1" autocomplete="off" />
        <input type="submit" value="Search"/>
        <br />
      </form>
      
      <% if @letters %>
        <p>Letters used: <span><%= @letters.join(', ') %></span> Turns left: <span><%= @turn %></span></p>
      <% end %>
      
    <% end %>
  </body>
</html>
